<% include ./partials/header %>

<div class="container">
	<span id="landing-background"></span>
	<div id="landing-header">
	 		<h1>Welcome to Minesweeper Infinity</h1>
			<a href="/rooms" class="btn btn-lg btn-success custom-theme">Start playing!</a>
    </div>
</div>

<% include ./partials/footer %>
