<% include ./partials/header %>
<div class="container" id="profiles">
	<div id="profiles-img">

	</div>
	<div id="profiles-content">
		<h2><%= foundUser.username %></h2>
		<h3>Level n</h3>
		<p id="bio"><strong>Bio:</strong></p>
		<p><em>This user has not added a bio.</em></p>
		<ul>
			<li>Games played:</li>
			<li>Hours played:</li>
			<li>Coins:</li>
			<li>Total mines found:</li>
			<li>Games won:</li>
		</ul>
		<div id="profile-items">
			<div class="profile-item">

			</div>
			<div class="profile-item">

			</div>
			<div class="profile-item">

			</div>
			<div class="profile-item">

			</div>
			<div class="profile-item">

			</div>
		</div>
	</div>
</div>
<% include ./partials/footer %>
