html, body {
	height: 100%;
	overflow: hidden;
	display: block;
}

.navbar {
	margin-bottom: 0;
}

#main-screen {
	width: 100%;
	height: 100%;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}

#main-game {
	/* margin: 0; */
	/* display: block; */
	width: 100%;
	padding-right: 320px;
	/* background-color: #001333; */
}

.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes background-flash {
	0%   {background-color: #001a47;}
	50%  {background-color: #00276b;}
	100% {background-color: #001a47;}
}

/* Standard syntax */
@keyframes background-flash {
  0%   {background-color: #001a47;}
  50%  {background-color: #00276b;}
  100% {background-color: #001a47;}
}

@keyframes shadow-flash {
  0%   {text-shadow: 2px 2px 8px #497cd4;}
  50%  {text-shadow: 2px 2px 8px #48d4b3;}
  100% {text-shadow: 2px 2px 8px #497cd4;;}
}

#game-display-container {
	height: 0;
	width: 100%;
	padding-right: 320px;
	position: fixed;
	top: 70px;
	text-align: center;
	background-color: red;
}

#game-display {
	font-size: 22px;
	width: 500px;
	margin: 0 auto;
	padding: 10px;
	background-color: #16397d;
	/* border-style: inset; */
	border-radius: 12px;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	-webkit-animation-name: background-flash; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: background-flash;
  animation-duration: 2s;
	animation-iteration-count: infinite;
}

#game-display p {
	margin: 0;
	/* padding: 5px; */
	/* text-shadow: 2px 2px 8px #497cd4; */
	animation-name: shadow-flash;
  animation-duration: 2s;
	animation-iteration-count: infinite;
	/* border-style: dotted;
	border-width: 4px;
  border-color: rgba(213, 126, 0, 1); */
}

#game-items-container {
	height: 0;
	width: 100%;
	padding-right: 320px;
	position: fixed;
	bottom: 100px;
	text-align: center;
}

.game-item {
	display: inline-block;
	height: 70px;
	width: 70px;
	margin: 0 20px;
	background-color: gray;
	border: 4px ridge #420000;
	border-radius: 10px;
	padding: 6px;
	cursor: pointer;
}

.game-item img {
	height: 50px;
	/* filter: grayscale(100%); */
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#item-radar {
	background: linear-gradient(to bottom right, #1f771f, #083508);
	border-color: #0e2104;
}

#item-freeze {
	background: linear-gradient(to bottom right, #67bed8, #33849c);
/* background-color: #4299b3; */
	border-color: #032926;
}

#item-weightless-shoes {
	background: linear-gradient(to bottom right, #866853, #503827);
/* background-color: #694d39; */
	border-color: #291709;
}

#item-blurred-vision {
	background: linear-gradient(to bottom right, #a75e9a, #5d2d54);
	/* background-color: #96508a; */
	border-color: #2d0426;
}

#item-lucky-moves {
	background: linear-gradient(to bottom right, #21d226, #08730c);
	/* background-color: #0fad14; */
	border-color: #0f3e11;
}

#stat-bar {
	background-color: #001333;
	position:fixed;
	right: 0;
	top: 0;
	width: 320px;
	height: 100%;
	display: flex;
	flex-flow: column;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

#stat-header {
	/* background-color: green; */
	padding-top: 50px;
	flex: 0 1 auto;
}

#stat-header h2 {
	text-shadow: 0 0 12px #65e3ff;
	margin-bottom: 0;
	padding: 0 10px;
	text-align: center;
	width: 100%;
}

#stat-header h3 {
	font-size: 20px;
	text-shadow: 0 0 12px #ff0101;
	margin-bottom: 0;
	padding: 0 10px;
	text-align: center;
	width: 100%;
}

#stat-header table {
	margin-top: 20px;
	margin-left: 20px;
	font-size: 16px;
	width: 280px;
	/* background-color: red; */
}

#stat-header td:nth-child(2) {
	width: 50px;
}

#stat-header td:nth-child(3) {
	width: 50px;
}
/*
#stat-header tr td:nth-child(1) {
width: 200px;
} */

hr {
	background-image: linear-gradient(to right, #0d2046, #6a8bce, #0d2046);
	border: 0;
	clear:both;
	display:block;
	width: 96%;
	height: 1px;
}

span.player-color {
	margin-right: 6px;
	height: 11px;
	width: 11px;
	display: inline-block;
}

span.player-color.red {
	background: linear-gradient(to bottom right, #ca0000, #7d0505);
	border: 1px solid #420000;
}

span.player-color.green {
	background: linear-gradient(to bottom right, #109200, #095200);
	border: 1px solid #074200;
}

span.player-color.purple {
	background: linear-gradient(to bottom right, #6a00ca, #39006d);
	border: 1px solid #130042;
}

span.player-color.yellow {
	background: linear-gradient(to bottom right, #cac400, #716e00);
	border: 1px solid #384200;
}

td.empty-place {
	font-style: italic;
	padding-left: 18px;
	color: #a5a5a5;
}

#chat {
	flex: 1 1 auto;
	flex-flow: column;
	display: flex;
	margin: 0 20px;
	width: 280px;
	height: 200px;
	background-color: #041c4c;
	border: 1px solid #295c9a;
}

.from-server {
	font-style: italic;
	color: #91f5ff;
}

#chat-messages {
	overflow: auto;
	flex: 1;
	padding: 10px 10px 0 10px;
	-webkit-user-select: text;  /* Chrome all / Safari all */
	-moz-user-select: text;     /* Firefox all */
	-ms-user-select: text;      /* IE 10+ */
	user-select: text;          /* Likely future */
}

#chat-messages p {
	margin-bottom: 4px;
}

#chat-post {
	display: flex;
	height: auto;
	/* background-color: green; */
	/* padding: 10px; */
	border-top: 1px solid #295c9a;
}

#chat-post input {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	padding: 0 5px 0 10px;
	background-color: #103888;
	border: 1px solid #041c4b;
	border-right: none;
	flex: 1;
	width: 200px;
}

#chat-post input:focus {
	outline: none;
}

#chat-post button {
	background-color: #345494;
	border: 1px solid #041c4b;
}

#stat-header i {
	font-size: 15px;
}

#stat-footer {
	width: 320px;
	height: auto;
	padding: 20px;
	padding-top: 0;
	flex: 0 1 40px;
	/* background-color: skyblue; */
}

#stat-footer .btn  {
	width: 100%;
}
